:root {
  --text-white: white;
  --text-black: black;
  --footer-bg: #ebebeb;
  --white-bg: white;
  --primary-color: #6b0cf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: inherit;
}

.page-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 85px auto 200px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "body body body body"
    "footer footer footer footer";
}
.page-container .header {
  grid-area: header;
}

.page-container .body {
  grid-area: body;
  margin: 0.5rem 0;
}

.page-container .footer {
  grid-area: footer;
  background-color: var(--footer-bg);
  width: 100%;
}

/* header section start */

.nav {
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid var(--primary-color);
}

.button.button-icon.button-header {
  display: flex;
  align-items: center;
  min-width: 5rem;
}
.nav-right > figure {
  padding: 0 0;
}

.icon {
  width: 2.5rem;
}
/* header section end */
/* body section start */

.hero-overlay-text {
  font-size: 3rem;
  color: var(--text-black);
}

.body .body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.featured-image img {
  /* max-width: 100%; */
  width: 100vw;
}

.featured-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.featured-image .hero-overlay {
  position: absolute;
  width: 100%;
  line-height: 5rem;
  top: 60%;
  background-color: var(--white-bg);
  opacity: 0.8;
}
.featured-image .hero-overlay:hover {
  cursor: pointer;
}
.categories {
  border-radius: 0.5rem;
}

.featured-image {
  max-width: 100%;
}

.card-image.badge {
  position: relative;
}

.card-image.badge figure {
  display: flex;
  color: white;
  justify-content: center;
  align-content: center;
  position: absolute;
  padding: 0.25rem 1rem;
  top: 3rem;
  right: 0;
  background-color: var(--primary-color);
}

.card-image.badge figure:hover {
  cursor: pointer;
}
#best-seller-button {
  background-color: var(--primary-color);
}

.featured-section {
  border-radius: 0.5rem;
}

/* body section end */

/* start product listing page */

/* filter section start */
.filter-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.filter-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-section.filter-heading:hover {
  cursor: pointer;
}

.filter-section {
  border-bottom: 1px solid var(--primary);
  padding: 0.5rem 0;
}

.filter-section > h3,
h4 {
  padding: 0.5rem 0;
}

.filter-pricing input {
  width: 80%;
}

.filter-categories .checkbox-list > li {
  padding: 0.25rem 0;
}

.checked {
  color: orange;
}

.filter-section.filter-rating > span:hover {
  cursor: pointer;
}
/* filter section end */

/* product-listing begins */
.content-container {
  display: grid;
  padding: 1rem;
}

.content-container.col-4-layout {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0.25rem;
  grid-template-areas: "col-1-4 col-3-4 col-3-4 col-3-4";
}
.col-4-layout .col-1-4 {
  grid-area: col-1-4;
}
.col-4-layout .col-3-4 {
  grid-area: col-3-4;
}

/* flex for products grid */
.products-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.products-grid .product {
  margin: 0.3rem 0rem;
  background-color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  border-radius: 0.2rem;
}

.product .product-name {
  top: auto;
  bottom: auto;
}

.card.product-card {
  width: 200px;
}

/* footer section start */

.footer-container {
  border-top: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-around;
}

.footer-about-company {
  width: 20rem;
  text-align: justify;
}

.footer-quick-links .unordered-list {
  list-style: none;
}
.footer-contact-us .unordered-list {
  list-style: none;
}

.footer-contact-us .unordered-list li i {
  color: var(--primary-color);
}
/* footer section end */

/* cart page begins */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 85px 65vh 200px;
  gap: 0px 0px;
  grid-auto-flow: row;
}
.cart-container .header {
  grid-area: header;
  width: 100vw;
}

.body {
  grid-area: body;
}

.cart-management-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.75rem 0;
}
.cart-management-grid.card.card-horizontal {
  width: 40vw;
  margin: 0 0.5rem;
}

.cart-management-grid.card.card-horizontal .card-quantity {
  margin: 0.75rem 0;
}

.cart-management-grid.card.card-horizontal .card-buttons button {
  background-color: var(--primary-color);
}

.cart-items .pricing-card {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  width: 30rem;
  height: 20rem;
  border: 1px solid var(--secondary);
  align-items: space-between;
}

.pricing-calculations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--secondary);
}

.pricing-card .pricing-heading {
  display: flex;
  justify-content: center;
}

.pricing-calculations-content {
  display: flex;
  justify-content: space-between;
}

.pricing-card .pricing-total {
  width: 100%;
}

.pricing-total .pricing-total-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary);
}

.footer {
  grid-area: footer;
}

.text-md-lg {
  font-size: 1.2rem;
}

.text-bold {
  font-weight: 900;
}

/* cart page ends */

/* login page begins */
.page-container.login {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 70vh 200px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "body body body body"
    "footer footer footer footer";
}
.page-container.login .header {
  grid-area: header;
  width: 100%;
}

.page-container.login .body {
  grid-area: body;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-container.login .login-section {
  font: inherit;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  width: 30%;
  border: 1px solid var(--primary);
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.page-container.login .footer {
  grid-area: footer;
  background-color: var(--footer-bg);
  width: 100%;
}

.login-section .button.button-icon.login-button {
  width: 40%;
}

.login-section .input.login-input {
  padding: 0 0;
  margin: 0 0;
}
/* login paged ends */
