
.nav-right > figure {
  padding: 0 0;
}

.icon {
  width: 2.5rem;
}
/* start product listing page */

/* filter section start */
.filter-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.filter-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-section.filter-heading:hover {
  cursor: pointer;
}

.filter-section {
  border-bottom: 1px solid var(--primary);
}

.filter-pricing input {
  width: 80%;
}

.filter-categories .checkbox-list > li {
  padding: 0.25rem 0;
}

.checked {
  color: orange;
}

.filter-section.filter-rating > span:hover {
  cursor: pointer;
}
/* filter section end */

/* product-listing begins */
.content-container {
  display: grid;
  padding: 1rem;
}

.content-container.col-4-layout {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0.25rem;
  grid-template-areas: "col-1-4 col-3-4 col-3-4 col-3-4";
}
.col-4-layout .col-1-4 {
  grid-area: col-1-4;
}
.col-4-layout .col-3-4 {
  grid-area: col-3-4;
}

/* flex for products grid */
.products-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.products-grid .product {
  margin: 0.3rem 0rem;
  background-color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  border-radius: 0.2rem;
}

.product .product-name {
  top: auto;
  bottom: auto;
}

.card {
  width: 200px;
}

/* start header  */
.nav {
  display: flex;
  align-items: center;
}

.button.button-icon.button-header {
  display: flex;
  align-items: center;
  min-width: 5rem;
}
/* end header  */

/* end-product-listing-page */

:root {
  --text-white: white;
  --text-black: black;
  --footer-bg: #ebebeb;
  --white-bg: white;
  --primary-color: #6b0cf0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font: inherit;
}

.page-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 85px auto 200px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "body body body body"
    "footer footer footer footer";
}

/* header section start */
.page-container .header {
  grid-area: header;
}
/* header section end */
/* body section start */
.page-container .body {
  grid-area: body;
  margin: 0.5rem 0;
}

.hero-overlay-text {
  font-size: 3rem;
  color: var(--text-black);
}

.nav {
  border: none;
  border-bottom: 1px solid var(--primary-color);
}

.body .body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.featured-image img {
  /* max-width: 100%; */
  width: 100vw;
}

.featured-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.featured-image .hero-overlay {
  position: absolute;
  width: 100%;
  line-height: 5rem;
  top: 60%;
  background-color: var(--white-bg);
  opacity: 0.8;
}
.featured-image .hero-overlay:hover {
  cursor: pointer;
}
.categories {
  border: 2.5px solid var(--primary-color);
  border-radius: 0.5rem;
}

.featured-image {
  max-width: 100%;
}

.card-image.badge {
  position: relative;
}

.card-image.badge figure {
  display: flex;
  color: white;
  justify-content: center;
  align-content: center;
  position: absolute;
  padding: 0.25rem 1rem;
  top: 3rem;
  right: 0;
  background-color: var(--primary-color);
}

.card-image.badge figure:hover {
  cursor: pointer;
}
#best-seller-button {
  background-color: var(--primary-color);
}

.featured-section {
  border: 2.5px solid var(--primary-color);
  border-radius: 0.5rem;
}

/* body section end */
/* footer section start */
.page-container .footer {
  grid-area: footer;
  background-color: var(--footer-bg);
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-about-company {
  width: 20rem;
  text-align: justify;
}

.footer-quick-links .unordered-list {
  list-style: none;
}
.footer-contact-us .unordered-list {
  list-style: none;
}

.footer-contact-us .unordered-list li i {
  color: var(--primary-color);
}
/* footer section end */
